* {
	box-sizing: border-box;
}

html, body {

	margin-top: 34px;

	margin: 0;

	color: purple;

	font-family: 'Mada';

}

header, footer {

	

	



	background-color: purple;

	color: white;

	margin: auto;

	font-family: 'Mada';


}





  


.centered {


	

	width:  50%;

	margin: auto;



}

header .subtitle {

margin: 0;
	padding-top: 34px;


}

h1 {



}

ul {
	
	list-style-type: square;

	display: flex;

	flex-wrap: wrap;

	
}

ul li {
	

	
}

main {

	margin: auto;



}

section {

	width:  50%;

	margin: auto;

}

h2 {

}

h3 {



}

p {

}

.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {

}